body {
    font-family: 'Comic Sans MS', cursive;
    background-color: #ffe5cc;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #663300;
}

header {
    background-color: #ffcc99;
    padding: 15px;
    border-bottom: 5px solid #ff9966;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    color: #996633;
}

main {
    padding: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
    border: 5px solid #ffcc99;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #ffcc99;
}

th, td {
    border: 1px solid #ffcc99;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ffcc99;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

li {
    margin-bottom: 5px;
}

section {
    margin-top: 30px;
}

footer {
    background-color: #ffcc99;
    padding: 15px;
    border-top: 5px solid #ff9966;
    margin-top: 20px;
}
.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: hsl(0, 0%, 70%);
}
.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);
}
.dropdown2{
    display: inline-block;
}
.dropdown2 button{
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown2 a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown2 .content2{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown2:hover .content2{
    display: block;
}
.dropdown2:hover button{
    background-color: hsl(0, 0%, 70%);
}
.dropdown2 a:hover{
    background-color: hsl(0, 0%, 90%);
}